* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

h1 {
    margin-bottom: 40px;

}

input {
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    font-size: large;
    margin: 10px;
    background-color: rgba(137, 43, 226, 0.503);
}

button {
    width: 50px;
    height: 50px;
    font-weight: bold;
    background-color: rgba(137, 43, 226, 0.503);
    border-radius: 5px;
    cursor: pointer;
}

/* button:hover {
    cursor: pointer;
} */

#diebox {
    border: 2px solid black;
    border-radius: 20%;
    width: 300px;
    height: 300px;
    background-color: rgba(137, 43, 226, 0.503);
    margin: auto;
    margin-top: 20px;
    display: flex;
    position: relative;

}

.animationshake {
    animation: shake 200ms 1
}

@keyframes shake {
    0%  {left: 0px}
    25% {left: 10px; transform: rotate(-5deg)}
    50% {left: 0px; transform: rotate(0deg)}
    75% {left: 10px; transform: rotate(5deg)} 
    100% {left: 0px; transform: rotate(0deg)} 
}

#die1 {
    margin: auto;
    font-weight: bold;
    font-size: 200px;
}

